# String Based Assignment Problem

**Q1: Write a program to reverse a string.**

In [2]:
s=input("Enter a string:")
rev=s[::-1]
print(rev)

Enter a string:deepika
akipeed

**Q2: Check if a string is a palindrome.**

In [6]:
s1=input("Enter a string:")
cln_str=s1.lower()
rev=cln_str[::-1]
if rev==cln_str:
    print("String is palindrome")
else:
    print("String is not palindrome")

Enter a string:Madam
String is palindrome

**Q3: Convert a string to uppercase.**

In [7]:
s2=input("Enter a string:")
print(s2.upper())

Enter a string:deepika
DEEPIKA

**Q4: Convert a string to lowercase.**

In [8]:
s3=input("Enter a string:")
print(s3.lower())

Enter a string:Hello! I am Deepika
hello! i am deepika

**Q5: Count the number of vowels in a string.**

In [10]:
string=input("Enter a string:")
def count_vowels(s):
    vowels='aeiouAEIOU'
    c=0
    for i in s:
        if i in vowels:
            c=c+1
    return c
num_vowels=count_vowels(string)
print(f"No. of vowels in the string are {num_vowels}")

Enter a string:hello! here I am Adam LevinE
No. of vowels in the string are 11

**Q6: Count the number of consonants in a string.**

In [17]:
string1=input("Enter a string:")
def count_Conso(s):
    vowels='aeiouAEIOU'
    c=0
    for i in s:
        if i.isalpha() and i not in vowels:
            c=c+1
    return c
num_conso=count_Conso(string1)
print(f"No. of consonants in the string are {num_conso}")

Enter a string:hello! I am not a Robot
No. of consonants in the string are 9

**Q7: Remove all whitespaces from a string.**

In [15]:
s4=input("Enter a string:")
modified_str=s4.replace(" ","")
print(modified_str)

Enter a string:hello there! Remove the spaces
hellothere!Removethespaces

**Q8: Find the length of a string without using the `len()` function.**

In [18]:
string2=input("Enter the string:")
def count_len(s):
    c=0
    for i in s:
        c=c+1
    return c
len_count=count_len(string2)
print(f"length of the string is {len_count}")

Enter the string:this is a string to check count
length of the string is 31

**Q9: Check if a string contains a specific word.**

In [30]:
fullstring=input("Enter the fullstring:")
substring=input("Enter the substring:")
words=fullstring.split()
if substring in words:
    print("Found!")
else:
    print("Not found!")

Enter the fullstring:hello this is deepika
Enter the substring:this
Found!

**Q10: Replace a word in a string with another word.**

In [26]:
s5=input("Enter a string:")
old_word=input("Enter the old word you want to replace:")
new_word=input("Enter the new word you want to replace with:")
updated_str=s5.replace(old_word,new_word)
print(updated_str)

Enter a string:This is my first program.
Enter the old word you want to replace:first
Enter the new word you want to replace with:second
This is my second program.

**Q11: Count the occurrences of a word in a string.**

In [6]:
s6=input("Enter the string:")
w1=input("Enter the word you want to check occurences of:")
#converting both to lowercase
s6_lower=s6.lower()
w1_lower=w1.lower()
#splitting the input text into words
word1=s6_lower.split()
c=0
for i in word1:
    if i==w1_lower:
        c=c+1
print(f"The number of occurences of the word {w1} are {c}")

#occurrence_count = word1.count(w1_lower)

Enter the string:this is my book. This is my car
Enter the word you want to check occurences of:This
The number of occurences of the word This are 2

**Q12: Find the first occurrence of a word in a string.**

In [7]:
s7=input("Enter the string:")
w2=input("Enter the word you want to check the first occurence of:")
index=s7.lower().find(w2.lower())
if index!=-1:
    print(f"The word is at {index} index")
else:
    print("The word is not there")

Enter the string:This is a good book. This is not a good book
Enter the word you want to check the first occurence of:this
The word is at 0 index

**Q13: Find the last occurrence of a word in a string.**

In [11]:
s8=input("Enter the string:")
w3=input("Enter the word you want to check the last occurence of:")
indx=s8.lower().rfind(w3.lower())
if indx!=-1:
    print(f"The word is at {indx} index")
else:
    print("The word is not there")

Enter the string:This is a good test. She is a Good person.
Enter the word you want to check the last occurence of:good
The word is at 30 index

**Q14: Split a string into a list of words.**

In [14]:
s9=input("Enter a string:")
w4=s9.split()
print("list of words", w4)

Enter a string:hey this is me deepika
list of words ['hey', 'this', 'is', 'me', 'deepika']

**Q15: Join a list of words into a string.**

In [16]:
s10=input("Enter the words separated by space:")
w5=s10.split()
joined_str=" ".join(w5)
print(w5)
print(joined_str)

Enter the words separated by space:this is my key
['this', 'is', 'my', 'key']
this is my key

**Q16: Convert a string where words are separated by spaces to one where words
are separated by underscores.**

In [17]:
s11=input("Enter the string:")
new_str=s11.replace(" ", "_")
print(new_str)

Enter the string:this is my assignment
this_is_my_assignment

**Q17: Check if a string starts with a specific word or phrase.**

In [22]:
s12=input("Enter the string:")
w6=input("Enter the word or phrase you want to check if it is present in the starting of the string:")
index1=s12.lower().find(w6.lower())
if index1==0:
    print(f"Yes, string starts with {w6}")
else:
    print(f"No, string does not start with {w6}")
#if s12.startswith(w6):

Enter the string:My name is deepika
Enter the word or phrase you want to check if it is present in the starting of the string:my name
Yes, string starts with my name

**Q18: Check if a string ends with a specific word or phrase.**

In [1]:
s13=input("Enter the string:")
w7=input("Enter the word or phrase you want to check if it is present at the end of the string: ")
if s13.lower().endswith(w7.lower()):
    print(f"Yes, string ends with {w7}")
else:
    print(f"No, string does not end with {w7}")

Enter the string:That is a dog. It is good
Enter the word or phrase you want to check if it is present at the end of the string: Good
Yes, string ends with Good

**Q19: Convert a string to title case.**

In [2]:
s14=input("Enter the string:")
print(s14.title())

Enter the string:twilight: new moon
Twilight: New Moon

**Q20: Find the longest word in a string.**

In [6]:
s15=input("Enter the string:")
w8=s15.split()
longest_word=""
max_length=0
for i in w8:
    if len(i)>max_length:
        max_length=len(i)
        longest_word=i
print("longest word is", longest_word)

Enter the string:this is my jupyter notebook
longest word is notebook

**Q21: Find the shortest word in a string.**

In [10]:
s16=input("Enter the string:")
w9=s16.split()
shortest_word=""
min_length=0
for i in w9:
    if len(i)<min_length or min_length==0:
        min_length=len(i)
        shortest_word=i
print("shortest word is", shortest_word)

Enter the string:this is a good book
shortest word is a

**Q22: Reverse the order of words in a string.**

In [14]:
s17=input("Enter the string:")
w10=s17.split()
reversed_str17=w10[::-1]
joined_str17=" ".join(reversed_str17)
print(joined_str17)

Enter the string:hi this is me deepika
deepika me is this hi

**Q23: Check if a string is alphanumeric.**

In [21]:
s18=input("Enter the string:")
if s18.isalnum():
    print("String is alphanumeric")
else:
    print("String is not alphanumeric")

Enter the string:hello
String is alphanumeric

**Q24: Extract all digits from a string.**

In [28]:
s19=input("Enter a string:")
n1=""
for i in s19:
    if i.isdigit():
        n1=n1+i
print(n1)

Enter a string:hello123
123

**Q25: Extract all alphabets from a string.**

In [1]:
s20=input("Enter a string:")
a1=""
for i in s20:
    if i.isalpha():
        a1=a1+i
print(a1)

Enter a string:hello123
hello

**Q26: Count the number of uppercase letters in a string.**

In [2]:
s21=input("Enter the string:")
c=0
for i in s21:
    if i.isupper():
        c=c+1
print(c)

Enter the string:HE is Aman Gupta
4

**Q27: Count the number of lowercase letters in a string.**

In [3]:
s22=input("Enter the string:")
c=0
for i in s22:
    if i.islower():
        c=c+1
print(c)

Enter the string:HE is Aman Gupta
9

**Q28: Swap the case of each character in a string.**

In [7]:
s23=input("Enter a string:")
print(s23.swapcase())

Enter a string:HEy i Am chECKing swaPCase
heY I aM CHeckING SWApcASE

**Q29: Remove a specific word from a string.**

In [21]:
s24=input("Enter a string:")
w11=input("Enter the word you want to remove:")
new_str=" ".join(s24.replace(w11,"").split())
print(new_str)

Enter a string:this is a good book
Enter the word you want to remove:good
this is a book

**Q30: Check if a string is a valid email address.**

In [26]:
import re
def is_valid_email(email):
    pattern=r'^[\w\.-]+@[\w\.-]+\.\w+$'
    if re.match(pattern, email):
        return True
    else:
        return False
email_address=input("Enter email address:")
if is_valid_email(email_address):
    print("It is a valid email address")
else:
    print("It is not a valid email address")

Enter email address:abc@gmail.com
It is a valid email address

**Q31: Extract the username from an email address string.**

In [2]:
s25=input("Enter the email adress:")
username=s25.split('@')[0]
print(username)

Enter the email adress:deepika@gmail.com
deepika

**Q32: Extract the domain name from an email address string.**

In [3]:
s26=input("Enter the email address:")
domain_name=s26.split('@')[1]
print(domain_name)

Enter the email address:deepika@gmail.com
gmail.com

**Q33: Replace multiple spaces in a string with a single space.**

In [4]:
s23=input("Enter the string:")
g_str=" ".join(s23.split())
print(g_str)

Enter the string:this is   a string  with  multiple spaces
this is a string with multiple spaces

**Q34: Check if a string is a valid URL.**

In [5]:
pip install validators

Collecting validators
  Downloading validators-0.21.2-py3-none-any.whl (25 kB)
Installing collected packages: validators
Successfully installed validators-0.21.2
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution -ip (c:\users\deepi\appdata\local\programs\python\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\users\deepi\appdata\local\programs\python\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\users\deepi\appdata\local\programs\python\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\users\deepi\appdata\local\programs\python\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\users\deepi\appdata\local\programs\python\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\users\deepi\appdata\local\programs\python\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\users\deepi\appdata\local\programs\python\python310\lib\site-packages)

In [6]:
import validators

In [7]:
url=input("Enter a url:")
if validators.url(url):
    print("It is a valid url")
else:
    print("It is not a valid url")

Enter a url:https://www.example.com
It is a valid url

**Q35: Extract the protocol (http or https) from a URL string.**

In [8]:
from urllib.parse import urlparse
url=input("Enter the url:")
parsed_url=urlparse(url)
protocol=parsed_url.scheme
print(protocol)

Enter the url:https://www.example.com
https

**Q36: Find the frequency of each character in a string.**

In [11]:
def word_counter(s24):
    count={}
    s24=s24.lower()
    for char in s24:
        count[char]=s24.count(char)
    return count
sf=input("enter the string:")
x=word_counter(sf)
print(x)

enter the string:Deepika is a Good girl
{'d': 2, 'e': 2, 'p': 1, 'i': 3, 'k': 1, 'a': 2, ' ': 4, 's': 1, 'g': 2, 'o': 2, 'r': 1, 'l': 1}

**Q37: Remove all punctuation from a string.**

In [1]:
import string 
s27=input("Enter the string:")
translator=str.maketrans('','',string.punctuation)
cln_string=s27.translate(translator)
print(cln_string)

Enter the string:Hello, World! This is an example string with punctuation.
Hello World This is an example string with punctuation

**Q38:Check if a string contains only digits.**

In [3]:
s28=input("Enter the string:")
if s28.isdigit():
    print("String contains only digits")
else:
    print("It contains alphabets too")

Enter the string:12345
String contains only digits

**Q39:Check if a string contains only alphabets.**

In [5]:
s29=input("Enter the string:")
if s29.isalpha():
    print("String contains only alphabets")
else:
    print("String contains digits too")

Enter the string:hello
String contains only alphabets

**Q40:Convert a string to a list of characters.**

In [6]:
s30=input("Enter a string:")
chg_str=list(s30)
print(chg_str)

Enter a string:hello world
['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

**Q41:Check if two strings are anagrams.**

In [10]:
s31=input("Enter the first string:")
s32=input("Enter the second string:")
s31=s31.replace(' ','').lower()
s32=s32.replace(' ','').lower()
if sorted(s31)==sorted(s32):
    print("The two strings are anagrams")
else:
    print("The two strings are not anagrams")

Enter the first string:astronomer
Enter the second string:moon starer
The two strings are anagrams

**Q42: Encode a string using a Caesar cipher.**

In [23]:
s33=input("Enter the string:")
shift_amount=3
encoded_text=""
for char in s33:
    if char.isalpha():
        if char.isupper():
            start=ord('A')
        else:
            start=ord('a')
        shifted=(ord(char)-start+shift_amount)%26+start
        encoded_text+=chr(shifted)
    else:
        encoded_text+=char
print("encoded:",encoded_text)

Enter the string:hello
encoded: khoor

**Q43: Decode a Caesar cipher encoded string.**

In [24]:
s34=input("Enter the string:")
shift_amount=3
decoded_text=""
for char in s34:
    if char.isalpha():
        if char.isupper():
            start=ord('A')
        else:
            start=ord('a')
        shifted=(ord(char)-start-shift_amount)%26+start
        decoded_text+=chr(shifted)
    else:
        decoded_text+=char
print("decoded:",decoded_text)

Enter the string:khoor
decoded: hello

**Q44: Find the most frequent word in a string.**

In [26]:
def word_counter(s35):
    s35=s35.lower()
    words=s35.split()
    word_count={}
    for word in words:
        if word in word_count:
            word_count[word]+=1
        else:
            word_count[word]=1
            
    most_common_word=""
    max_frequency=0
    for word,frequency in word_count.items():
        if frequency>max_frequency:
            most_common_word=word
            max_frequency=frequency
    return most_common_word,max_frequency
sf=input("Enter the string:")
most_common_word,max_frequency=word_counter(sf)
print(f"the most frequent word  is {most_common_word} with frequency {max_frequency}")

Enter the string:my name is MY my
the most frequent word  is my with frequency 3

**Q45: Find all unique words in a string.**

In [1]:
def unique_words(s36):
    s36=s36.lower()
    words=s36.split()
    word_count={}
    
    for word in words:
        if word in word_count:
            word_count[word]+=1
        else:
            word_count[word]=1
        
    unique_word_list=[]
    for word,count in word_count.items():
        if count==1:
            unique_word_list.append(word)
    return unique_word_list

sg=input("Enter the string:")
unique_word_list=unique_words(sg)
print("Unique words in the text:")
for word in unique_word_list:
    print(word)

Enter the string:my name is MY my
Unique words in the text:
name
is

**Q46: Count the number of syllables in a string.**

In [4]:
def count_syllables(w46):
    vowels='aeiouy'
    w46=w46.lower()
    count=0
    if w46[0] in vowels:
        count+=1
        
    for i in range(1,len(w46)):
        if w46[i] in vowels and w46[i-1] not in vowels:
            count+=1
    if w46.endswith('e'):
        count-=1
    if count<=0:
        count=1
    return count

w46=input("Enter a word:")
syllable_count=count_syllables(w46)
print(f"the word {w46} as {syllable_count} syllables")

Enter a word:butterfly
the word butterfly as 3 syllables

**Q47: Check if a string contains any special characters.**

In [8]:
import re
def contain_special_characters(s37):
    pattern=r'[^a-zA-Z0-9\s]'
    if re.search(pattern,s37):
        return True
    else:
        return False
s37=input("Enter a string:")
if contain_special_characters(s37):
    print("The string contains special characters.")
else:
    print("The string does not contain special characters.")

Enter a string:helllo123@#
The string contains special characters.

**Q48: Remove the nth word from a string.**

In [15]:
def remove_nth_word(s38,n48):
    w48=s38.split()
    if n48>=1 and n48<=len(w48):
        w48.pop(n48-1)
        r48=' '.join(w48)
        return r48
    else:
        return "Invalid position"

s38=input("Enter the string:")
n48=int(input("Enter the position:"))
o1=remove_nth_word(s38,n48)
print(o1)

Enter the string:my name is deepika
Enter the position:3
my name deepika

**Q49: Insert a word at the nth position in a string.**

In [19]:
def insert_word(s39,ww,n49):
    w49=s39.split()
    if n49>=1 and n49<=len(w49)+1:
        w49.insert(n49-1,ww)
        r49=' '.join(w49)
        return r49
    else:
        return "Invalid position"
s39=input("Enter the string:")
ww=input("Enter the word you want to insert:")
n49=int(input("Enter the position:"))
o2=insert_word(s39,ww,n49)
print(o2)

Enter the string:my name is deepika
Enter the word you want to insert:singh
Enter the position:5
my name is deepika singh

**Q50: Convert a CSV string to a list of lists.**

In [24]:
import csv
from io import StringIO
def csv_string_list(csv_string):
    csv_file=StringIO(csv_string)
    reader=csv.reader(csv_file)
    data=[row for row in reader]
    return data

csv_string="""Name,Age,Location
Alice,25,New York
Bob,30,Los Angeles
Charlie,22,Chicago
"""
r50=csv_string_list(csv_string)
for row in r50:
    print(row)

['Name', 'Age', 'Location']
['Alice', '25', 'New York']
['Bob', '30', 'Los Angeles']
['Charlie', '22', 'Chicago']

# List Based Practice Problems

**Q1: Create a list with integers from 1 to 10.**

In [2]:
l=[]
for i in range(1,11):
    l.append(i)
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

**Q2: Find the length of a list without using the `len()` function.**

In [11]:
l2=input("Enter the elements separated by comma:").split(',')
print(l2)
c=0
for i in l2:
    c+=1
print("the no. of elements in the list are:",c)

Enter the elements separated by comma:3,5,7,hi,yes
['3', '5', '7', 'hi', 'yes']
the no. of elements in the list are: 5

**Q3: Append an element to the end of a list.**

In [12]:
l3=input("Enter the elements separated by a comma").split(',')
e1=input("enter the element you want to append:")
l3.append(e1)
print(l3)

Enter the elements separated by a commaapple,mango,banana
enter the element you want to append:cherry
['apple', 'mango', 'banana', 'cherry']

**Q4: Insert an element at a specific index in a list.**

In [14]:
l4=['apple','mango','cherry', 456, 345.67]
i1=int(input("enter the index you want to insert the word:"))
e2=input("Enter the word:")
l4.insert(i1,e2)
print(l4)

enter the index you want to insert the word:2
Enter the word:banana
['apple', 'mango', 'banana', 'cherry', 456, 345.67]

**Q5: Remove an element from a list by its value.**

In [17]:
l5=['cat','dog','parrot',89.99,45,67]
l5.remove(67)
print(l5)

['cat', 'dog', 'parrot', 89.99, 45]

**Q6: Remove an element from a list by its index.**

In [19]:
l6=['cat','dog','parrot',89.99,45,67]
del l6[4]
l6

['cat', 'dog', 'parrot', 89.99, 67]

**Q7: Check if an element exists in a list.**

In [22]:
l7=['abhishek','yash','rashi','rohit','rahul','saumya']
e3=input("Enter the word you want to check:")
if e3 in l7:
    print(f"the word {e3} is present")
else:
    print("the word is not present")

Enter the word you want to check:saumya
the word saumya is present

**Q8: Find the index of the first occurrence of an element in a list.**

In [23]:
l8=[1,2,3,3,4,5,6,3]
e4=int(input("Enter the element whose index you want to check:"))
l8.index(e4)

Enter the element whose index you want to check:3

2

**Q9: Count the occurrences of an element in a list.**

In [28]:
l9=[1,2,3,3,4,5,6,3]
e5=int(input("Enter the element whose occurence you want to check:"))
c=0
for i in l9:
    if i==e5:
        c+=1
print(c)

Enter the element whose occurence you want to check:3
3

**Q10: Reverse the order of elements in a list.**

In [2]:
l10=input("Enter the elements separated by comma:").split(',')
rev_l10=l10[::-1]
print(rev_l10)

Enter the elements separated by comma:abc,true,xyz
['xyz', 'true', 'abc']

**Q11: Sort a list in ascending order.**

In [4]:
l11=[8,9,4,2,1,7,6,0]
sorted(l11)

[0, 1, 2, 4, 6, 7, 8, 9]

**Q12:Sort a list in descending order.**

In [6]:
l12=[8,9,4,2,1,7,6,0]
sorted(l12,reverse=True)

[9, 8, 7, 6, 4, 2, 1, 0]

**Q13:Create a list of even numbers from 1 to 20.**

In [7]:
l13=[]
for i in range(1,21):
    if i%2==0:
        l13.append(i)
print(l13)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

**Q14:Create a list of odd numbers from 1 to 20.**

In [8]:
l14=[]
for i in range(1,21):
    if i%2!=0:
        l14.append(i)
print(l14)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

**Q15: Find the sum of all elements in a list.**

In [9]:
l15=[56,4,2,12.7,45,78]
c=0
for i in l15:
    c=c+i
print(c)

197.7

**Q16: Find the maximum value in a list.**

In [11]:
l16=[3,6,9,0,23,56,12,35,1,7]
max(l16)

56

**Q17: Find the minimum value in a list.**

In [12]:
l17=[3,6,9,0,23,56,12,35,1,7]
min(l17)

0

**Q18: Create a list of squares of numbers from 1 to 10.**

In [13]:
l18=[]
for i in range(1,11):
    l18.append(i**2)
print(l18)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

**Q19: Create a list of random numbers.**

In [14]:
import random
random_numbers=[]
for _ in range(10):
    random_num=random.randint(1,100)
    random_numbers.append(random_num)
print(random_numbers)

[54, 73, 9, 18, 22, 38, 86, 46, 64, 57]

**Q20: Remove duplicates from a list.**

In [18]:
l19=[2,2,3,4,3,5,7,4,5,6,7]
list(set(l19))

[2, 3, 4, 5, 6, 7]

**Q21: Find the common elements between two lists.**

In [21]:
l20=['apple','banana','cherry','grapes','orange']
l21=['banana','orange','kiwi','guava','pineapple']
list(set(l20).intersection(set(l21)))

['banana', 'orange']

**Q22: Find the difference between two lists.**

In [22]:
l22=['apple','banana','cherry','grapes','orange']
l23=['banana','orange','kiwi','guava','pineapple']
list(set(l20).difference(set(l23)))

['apple', 'cherry', 'grapes']

**Q23: Merge two lists.**

In [25]:
l23=['apple','banana','cherry','grapes','orange']
l24=['banana','orange','kiwi','guava','pineapple']
for i in l24:
    l23.append(i)
print(l23)

['apple', 'banana', 'cherry', 'grapes', 'orange', 'banana', 'orange', 'kiwi', 'guava', 'pineapple']

In [33]:
#or
l24=[1,2,3]
l25=[4,5,6]
m=l24+l25
print(m)

[1, 2, 3, 4, 5, 6]

In [35]:
#or
l24=[1,2,3]
l25=[4,5,6]
l24.extend(l25)
print(l24)

[1, 2, 3, 4, 5, 6]

**Q24: Multiply all elements in a list by 2.**

In [37]:
l26=[3,5,2,7,8]
list(map(lambda a:a*2,l26))

[6, 10, 4, 14, 16]

**Q25: Filter out all even numbers from a list.**

In [40]:
l27=[2,45,6,43,56,7,8,89,90]
list(filter(lambda i:i%2==0,l27))

[2, 6, 56, 8, 90]

**Q26: Convert a list of strings to a list of integers.**

In [41]:
l28=['2','4','5','7','6']
list(map(lambda i:int(i),l28))

[2, 4, 5, 7, 6]

**Q27: Convert a list of integers to a list of strings.**

In [42]:
l29=[2, 4, 5, 7, 6]
list(map(lambda i:str(i),l29))

['2', '4', '5', '7', '6']

**Q28: Flatten a nested list.**

In [1]:
def flatten(lst):
    l31=[]
    for item in lst:
        if isinstance(item,list):
            l31.extend(flatten(item))
        else:
            l31.append(item)
    return l31
            
l30=[1, [2, 3], [4, [5, 6]], 7]
flat_list=flatten(l30)
print(flat_list)

[1, 2, 3, 4, 5, 6, 7]

**Q29: Create a list of the first 10 Fibonacci numbers.**

In [11]:
l32=[]
f=0
s=1
for i in range(10):
    l32.append(f)
    t=f+s
    f=s
    s=t
print(l32)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

**Q30: Check if a list is sorted.**

In [14]:
l33=input("Enter elements separated by comma").split(',')
if sorted(l33)==l33:
    print("List is sorted")
else:
    print("List is not sorted")

Enter elements separated by comma0,1,2,3,4
List is sorted

**Q31: Rotate a list to the left by `n` positions.**

In [18]:
l34=[3,4,2,8,9,5,7]
n=int(input("Enter the position:"))
if n<0:
    n=len(l34)+n
if n>len(l34):
    n=n%len(l34)
rotated_list=l34[n:]+l34[:n]
print(rotated_list)

Enter the position:2
[2, 8, 9, 5, 7, 3, 4]

**Q32: Rotate a list to the right by `n` positions.**

In [23]:
l34=[3,4,2,8,9,5,7]
n=int(input("Enter the position:"))
if n<0:
    n=len(l34)+n
if n>len(l34):
    n=n%len(l34)
rotated_list=l34[-n:]+l34[:-n]
print(rotated_list)

Enter the position:2
[5, 7, 3, 4, 2, 8, 9]

**Q33: Create a list of prime numbers up to 50.**

In [28]:
l35=[]
for number in range(2, 50): 
    if number > 1:
        for i in range(2, number):
            if (number % i) == 0:
                break
        else:
            l35.append(number)
print(l35)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

**Q34: Split a list into chunks of size `n`.**

In [36]:
l36=[1,5,6,2,3,4,5,7,8,9,0]
chunk_size=int(input("Enter the chunk size"))
chunks=[]
for i in range(0,len(l36),chunk_size):
    chunk=l36[i:i+chunk_size]
    chunks.append(chunk)
print(chunks)

Enter the chunk size3
[[1, 5, 6], [2, 3, 4], [5, 7, 8], [9, 0]]

In [37]:
#or
l36 = [1, 5, 6, 2, 3, 4, 5, 7, 8, 9, 0]
chunk_size = int(input("Enter the chunk size"))
for i in range(0, len(l36), chunk_size):
    chunk = l36[i:i + chunk_size]
    print(chunk)

Enter the chunk size3
[1, 5, 6]
[2, 3, 4]
[5, 7, 8]
[9, 0]

**Q35: Find the second largest number in a list.**

In [1]:
l37=[2,4,5,2,14,7,8,9]
sort_l37=sorted(l37)
second_largest=sort_l37[-2]
print(second_largest)

9

**Q36: Replace every element in a list with its square.**

In [3]:
l38=[2,4,3,5,8,6]
list(map(lambda a:a**2,l38))

[4, 16, 9, 25, 64, 36]

**Q37: Convert a list to a dictionary where list elements become keys and their
indices become values.**

In [1]:
l39=['apple','banana','cherry','orange']
my_dict={}
for index,element in enumerate(l39):
    my_dict[element]=index
print(my_dict)

{'apple': 0, 'banana': 1, 'cherry': 2, 'orange': 3}

**Q38: Shuffle the elements of a list randomly.**

In [2]:
import random
l40=[1,2,3,4,5,6]
random.shuffle(l40)
print(l40)

[3, 2, 5, 4, 1, 6]

**Q39: Create a list of the first 10 factorial numbers.**

In [4]:
l41=[]
f=1
for i in range(1,11):
    f=f*i
    l41.append(f)
print(l41)

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

**Q40: Check if two lists have at least one element in common.**

In [4]:
l42=['apple','mango','banana','cherry','orange']
l43=['grapes','banana','pineapple','strawberry']
l42_set=set(l42)
l43_set=set(l43)
if l42_set.intersection(l43_set):
    print("Yes there is at least one common")
else:
    print("Nothing common")

Yes there is at least one common

**Q41: Remove all elements from a list.**

In [6]:
l44=[3,45,24,52,5,3,6,64,643,78]
l44.clear()
print(l44)

[]

**Q42: Replace negative numbers in a list with 0.**

In [9]:
l45=[-5,-8,5,6,-1,6,4,8,-2]
for i in range(len(l45)):
    if l45[i]<0:
        l45[i]=0
print(l45)

[0, 0, 5, 6, 0, 6, 4, 8, 0]

**Q43: Convert a string into a list of words.**

In [10]:
s_43=input("Enter the string")
s_43.split(' ')

Enter the stringMy name is Deepika Singh

['My', 'name', 'is', 'Deepika', 'Singh']

**Q44: Convert a list of words into a string.**

In [3]:
l46=['My', 'name', 'is', 'Deepika', 'Singh']
l46_str=" ".join(l46)
print(l46_str)

My name is Deepika Singh

**Q45: Create a list of the first `n` powers of 2.**

In [10]:
n_45=int(input("Enter the number:"))
l47=[]
for i in range(n_45):
    l47.append(2**i)
print(l47)

Enter the number:10
[1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

**Q46: Find the longest string in a list of strings.**

In [12]:
l48=['apple is good','banana is nice','mango is the best','cherry is fine']
long_str=max(l48,key=len)
print(long_str)

mango is the best

**Q47: Find the shortest string in a list of strings.**

In [13]:
l48=['apple is good','banana is nice','mango is the best','cherry is fine']
short_str=min(l48,key=len)
print(short_str)

apple is good

**Q48: Create a list of the first `n` triangular numbers.**

In [18]:
n_48=int(input("Enter the number:"))
l49=[]
for i in range(1,n_48+1):
    l49.append((i*(i+1)//2))
print(l49)

Enter the number:10
[1, 3, 6, 10, 15, 21, 28, 36, 45, 55]

**Q49: Check if a list contains another list as a subsequence.**

In [4]:
l50=[1, 2, 3, 4, 5, 6, 7, 8]
subsequence=[3, 5, 7]
l50_index=0
sub_index=0
while l50_index<len(l50) and sub_index<len(subsequence):
    if l50[l50_index]==subsequence[sub_index]:
        sub_index+=1
    l50_index+=1
if sub_index==len(subsequence):
    print("Subsequence found!")
else:
    print("Subsequence not found")

Subsequence found!

**Q50: Swap two elements in a list by their indices.**

In [6]:
l51=[4,7,2,6,8,1,0]
a=int(input("Enter the index of element you want to replace:"))
b=int(input("Enter the index of element you want it to be replaced with:"))
l51[a]=l51[a]+l51[b]
l51[b]=l51[a]-l51[b]
l51[a]=l51[a]-l51[b]
print(l51)

Enter the index of element you want to replace:2
Enter the index of element you want it to be replaced with:5
[4, 7, 1, 6, 8, 2, 0]

#  Tuple Based Practice Problem

**Q1: Create a tuple with integers from 1 to 5.**

In [4]:
t=tuple(i for i in range(1,6))
print(t)

(1, 2, 3, 4, 5)

**Q2: Access the third element of a tuple.**

In [5]:
t1=(6,3,2,7,9)
t1[2]

2

**Q3: Find the length of a tuple without using the `len()` function.**

In [6]:
t1=(6,3,2,7,9)
c=0
for i in t1:
    c=c+1
print(c)

5

**Q4: Count the occurrences of an element in a tuple.**

In [7]:
t2=(3,6,3,5,5,5,7,9,6)
t2.count(5)

3

**Q5: Find the index of the first occurrence of an element in a tuple.**

In [8]:
t3=(3,5,7,9,5,9,8,9)
t3.index(9)

3

**Q6: Check if an element exists in a tuple.**

In [9]:
t4=('apple',67,'deep','cherry')
if 'apple' in t4:
    print("yes it exists")
else:
    print("no it does not")

yes it exists

**Q7: Convert a tuple to a list.**

In [10]:
list(t4)

['apple', 67, 'deep', 'cherry']

**Q8: Convert a list to a tuple.**

In [12]:
t5=[34,'hello',67.8,'cherry']
tuple(t5)

(34, 'hello', 67.8, 'cherry')

**Q9: Unpack the elements of a tuple into variables.**

In [13]:
t6=('apple','orange','banana')
a,b,c=t6
print(a,b,c)

apple orange banana

**Q10: Create a tuple of even numbers from 1 to 10.**

In [16]:
t7=tuple(i for i in range(1,11) if i%2==0)
print(t7)

(2, 4, 6, 8, 10)

**Q11: Create a tuple of odd numbers from 1 to 10.**

In [17]:
t8=tuple(i for i in range(1,11) if i%2!=0)
print(t8)

(1, 3, 5, 7, 9)

**Q12: Concatenate two tuples.**

In [18]:
t7+t8

(2, 4, 6, 8, 10, 1, 3, 5, 7, 9)

**Q13: Repeat a tuple three times.**

In [19]:
t7*3

(2, 4, 6, 8, 10, 2, 4, 6, 8, 10, 2, 4, 6, 8, 10)

**Q14: Check if a tuple is empty.**

In [20]:
t9=()
if len(t9)==0:
    print("tuple is empty")
else:
    print("not empty")

tuple is empty

**Q15: Create a nested tuple.**

In [22]:
t10=(('a','b','c'),(1,2,3),(True,False))
print(t10)

(('a', 'b', 'c'), (1, 2, 3), (True, False))

**Q16: Access the first element of a nested tuple.**

In [23]:
t10[0][0]

'a'

**Q17: Create a tuple with a single element.**

In [25]:
t11=(8,)
type(t11)

tuple

**Q18: Compare two tuples.**

In [26]:
if t7==t8:
    print("equal")
else:
    print("not equal")

not equal

**Q19: Delete a tuple.**

In [27]:
t12=(6,9,0,7,5,4)
del t12

In [28]:
print(t12)

NameError: name 't12' is not defined

**Q20: Slice a tuple.**

In [29]:
t13=(1,8,5,9,0,4)
t13[1:3]

(8, 5)

**Q21: Find the maximum value in a tuple.**

In [2]:
t13=(1,8,5,9,0,4)
max_t13=max(t13)
print(max_t13)

9

**Q22: Find the minimum value in a tuple.**

In [3]:
t13=(1,8,5,9,0,4)
min_t13=min(t13)
print(min_t13)

0

**Q23: Convert a string to a tuple of characters.**

In [4]:
ts=tuple('deepika')
print(ts)

('d', 'e', 'e', 'p', 'i', 'k', 'a')

**Q24: Convert a tuple of characters to a string.**

In [7]:
t14=('h','e','l','l','o')
ts1=''.join(t14)
print(ts1)
type(ts1)

hello

str

**Q25: Create a tuple from multiple data types.**

In [8]:
t15=(10,'hello',True,3.14)
print(t15)

(10, 'hello', True, 3.14)

**Q26: Check if two tuples are identical.**

In [9]:
t15=(10,'hello',True,3.14)
t16=(10,'hello',True,3.14)
if t15==t16:
    print("identical")
else:
    print("not identical")

identical

**Q27: Sort the elements of a tuple.**

In [14]:
t17=tuple(sorted((1,8,5,9,0,4)))
print(t17)

(0, 1, 4, 5, 8, 9)

**Q28: Convert a tuple of integers to a tuple of strings.**

In [18]:
t18=(3,5,1,7,9,0,3,6)
ts2= tuple(str(i) for i in t18)
print(ts2)
type(ts2)

('3', '5', '1', '7', '9', '0', '3', '6')

tuple

**Q29: Convert a tuple of strings to a tuple of integers.**

In [19]:
t19=('4','6','9','7','8')
ts3=tuple(int(i) for i in t19)
print(ts3)
type(ts3)

(4, 6, 9, 7, 8)

tuple

**Q30: Merge two tuples.**

In [20]:
t20=('hello',56,True)
t21=(4,6,8,'apple')
ts4=t20+t21
print(ts4)

('hello', 56, True, 4, 6, 8, 'apple')

**Q31: Flatten a nested tuple.**

In [29]:
t10=(('a','b','c'),(1,2,3),(True,False),9,0)  
def flatten_tuple(t10):
    flat_list=[]
    for i in t10:
        if type(i)==tuple:
            flat_list.extend(flatten_tuple(i))
        else:
            flat_list.append(i)
    return tuple(flat_list)

flattened_tuple=flatten_tuple(t10)
print(flattened_tuple)

('a', 'b', 'c', 1, 2, 3, True, False, 9, 0)

**Q32: Create a tuple of the first 5 prime numbers.**

In [48]:
t22=[]
for n in range(2,50):
      if n>1:
          for i in range(2,n):
              if n%i==0:
                  break
          else:
              t22.append(n)
      if len(t22) >=5:
            break
print(tuple(t22))

(2, 3, 5, 7, 11)

**Q33: Check if a tuple is a palindrome.**

In [52]:
t23=(1, 2, 5, 2, 1)
ts5=list(t23)
rev_ts5=ts5[::-1]
if rev_ts5==ts5:
    print("tuple is pallindrome")
else:
    print("not pallindrome")

tuple is pallindrome

**Q34: Create a tuple of squares of numbers from 1 to 5.**

In [53]:
t24=[]
for i in range(1,6):
    t24.append(i**2)
print(tuple(t24))

(1, 4, 9, 16, 25)

**Q35: Filter out all even numbers from a tuple.**

In [55]:
ts6=[]
t25=(7,3,6,0,8,4,2,1)
for i in t25:
    if i%2==0:
        ts6.append(i)
print(tuple(ts6))

(6, 0, 8, 4, 2)

**Q36: Multiply all elements in a tuple by 2.**

In [56]:
ts7=[]
t26=(7,3,6,0,8,4,2,1)
for i in t26:
    ts7.append(i*2)
print(tuple(ts7))

(14, 6, 12, 0, 16, 8, 4, 2)

**Q37: Create a tuple of random numbers.**

In [57]:
import random
t_size=5
min_v=1
max_v=100
random_tuple=tuple(random.randint(min_v,max_v) for _ in range(t_size))
print(random_tuple)

(13, 8, 59, 45, 24)

**Q38: Check if a tuple is sorted.**

In [60]:
t27=(7,8,3,6,2,1,0)
if list(t27)==sorted(list(t27)):
    print("tuple is sorted")
else:
    print("tuple is not sorted")

tuple is not sorted

**Q39: Rotate a tuple to the left by `n` positions.**

In [62]:
t28=(7,8,3,6,2,1,0)
n=int(input("Enter the position:"))
if n<0:
    n=len(t28)+n
if n>len(t28):
    n=n%len(t28)
rotated_tuple=t28[n:]+t28[:n]
print(rotated_tuple)

Enter the position: 2

(3, 6, 2, 1, 0, 7, 8)

**Q40: Rotate a tuple to the right by `n` positions.**

In [63]:
t29=(7,8,3,6,2,1,0)
n=int(input("Enter the position:"))
if n<0:
    n=len(t29)+n
if n>len(t29):
    n=n%len(t29)
rotated_tuple2=t29[-n:]+t29[:-n]
print(rotated_tuple2)

Enter the position: 2

(1, 0, 7, 8, 3, 6, 2)

**Q41: Create a tuple of the first 5 Fibonacci numbers.**

In [2]:
t30=[]
f=0
s=1
for i in range(5):
    t30.append(f)
    t=f+s
    f=s
    s=t
print(tuple(t30))

(0, 1, 1, 2, 3)

**Q42: Create a tuple from user input.**

In [3]:
t31=input("enter elements separated by space").split()
t32=tuple(t31)
print(t32)

enter elements separated by space hello deepika 23 78 apple

('hello', 'deepika', '23', '78', 'apple')

**Q43: Swap two elements in a tuple.**

In [6]:
t33=(1,4,3,2,5)
tl=list(t33)
i1=1
i2=3
tl[i1],tl[i2]=tl[i2],tl[i1]
swapped_t33=tuple(tl)
print("original tuple", t33)
print("swapped tuple", swapped_t33)

original tuple (1, 4, 3, 2, 5)
swapped tuple (1, 2, 3, 4, 5)

**Q44: Reverse the elements of a tuple.**

In [9]:
t34=(8,9,3,1,2,0)
rev_t34=t34[::-1]
print(rev_t34)

(0, 2, 1, 3, 9, 8)

**Q45: Create a tuple of the first `n` powers of 2.**

In [14]:
t35=[]
n=int(input("enter the n"))
for i in range(n):
    t35.append(2**i)
print(tuple(t35))

enter the n 4

(1, 2, 4, 8)

**Q46: Find the longest string in a tuple of strings.**

In [18]:
t36=('apple','banana','cherry','grapes','pomegranate')
longest_stringt36=""
for i in t36:
    if len(i)>len(longest_stringt36):
          longest_stringt36=i
print(longest_stringt36)

pomegranate

**Q47: Find the shortest string in a tuple of strings.**

In [22]:
t36=('apple','banana','cherry','grapes','pomegranate','ab')
shortest_stringt36=t36[0]
for i in t36:
    if len(i)<len(shortest_stringt36):
        shortest_stringt36=i
print(shortest_stringt36)

ab

**Q48: Create a tuple of the first `n` triangular numbers.**

In [24]:
t37=[]
n=int(input("enter the number"))
for i in range(1,n+1):
    trinum=(i*(i+1))//2
    t37.append(trinum)
print(tuple(t37))

enter the number 5

(1, 3, 6, 10, 15)

**Q49: Check if a tuple contains another tuple as a subsequence.**

In [25]:
t38=(1,2,3,4,5,6,7)
subsq_t38=(3,5,7)
t38_idx=0
subsq_idx=0
while t38_idx<len(t38) and subsq_idx<len(subsq_t38):
    if t38[t38_idx]==subsq_t38[subsq_idx]:
        subsq_idx+=1
    t38_idx+=1
if subsq_idx==len(subsq_t38):
    print("subsequence found")
else:
    print("subsequence not found")

subsequence found

**Q50: Create a tuple of alternating 1s and 0s of length `n`.**

In [27]:
n=int(input("Enter the number"))
alt_t=tuple(1 if i%2==0 else 0 for i in range(n))
print(alt_t)

Enter the number 10

(1, 0, 1, 0, 1, 0, 1, 0, 1, 0)

# Set Based Practice Problem

**Q1: Create a set with integers from 1 to 5.**

In [2]:
set1={i for i in range(1,6)}
print(set1)

{1, 2, 3, 4, 5}

**Q2: Add an element to a set.**

In [3]:
set2={1,2,3}
set2.add(4)
print(set2)

{1, 2, 3, 4}

**Q3: Remove an element from a set.**

In [4]:
set3={1,2,3}
set3.remove(3)
print(set3)

{1, 2}

**Q4: Check if an element exists in a set.**

In [13]:
si=int(input("enter the element you want to check"))
set4={4,5,2,1,8,9}
if i in set4:
   print("element found")
else:
   print("element not found")

enter the element you want to check 8

element found

**Q5: Find the length of a set without using the `len()` function.**

In [14]:
set5={5,2,3,1,9,0}
c=0
for i in set5:
    c=c+1
print(c)

6

**Q6: Clear all elements from a set.**

In [17]:
set6={7,4,6,2,1}
set6.clear()
print(set6)

set()

**Q7: Create a set of even numbers from 1 to 10.**

In [18]:
set7={i for i in range(1,11) if i%2==0}
print(set7)

{2, 4, 6, 8, 10}

**Q8: Create a set of odd numbers from 1 to 10.**

In [19]:
set8={i for i in range(1,11) if i%2!=0}
print(set8)

{1, 3, 5, 7, 9}

**Q9: Find the union of two sets.**

In [20]:
set9={6,3,1,9,8,0}
set10={5,7,6,2,0}
u=set9.union(set10)
print(u)

{0, 1, 2, 3, 5, 6, 7, 8, 9}

**Q10: Find the intersection of two sets.**

In [21]:
set9={6,3,1,9,8,0}
set10={5,7,6,2,0}
inter=set9.intersection(set10)
print(inter)

{0, 6}

**Q11: Find the difference between two sets.**

In [1]:
set9={6,3,1,9,8,0}
set10={5,7,6,2,0}
diff=set9.difference(set10)
print(diff)

{8, 1, 3, 9}

**Q12: Check if a set is a subset of another set.**

In [3]:
set11={3,6,2,8,0,4}
set12={2,3,4}
if set12.issubset(set11):
    print("set12 is a subset of set11")
else:
    print("not a subset")

set12 is a subset of set11

**Q13: Check if a set is a superset of another set.**

In [4]:
set11={3,6,2,8,0,4}
set12={2,3,4}
if set11.issuperset(set12):
    print("set11 is a superset of set12")
else:
    print("not a superset")

set11 is a superset of set12

**Q14: Create a set from a list.**

In [5]:
lset=[8,4,4,2,3,3]
set13=set(lset)
print(set13)

{8, 2, 3, 4}

**Q15: Convert a set to a list.**

In [7]:
set14={5,7,1,2,4}
lset2=list(set14)
print(lset2)

[1, 2, 4, 5, 7]

**Q16: Remove a random element from a set.**

In [8]:
set14={5,7,1,2,4}
set14.pop()

1

**Q17: Pop an element from a set.**

In [12]:
set15={5,7,8,9,4}
set15.pop()

4

**Q18: Check if two sets have no elements in common.**

In [19]:
set16={5,7,3,1,0}
set17={7,4,5,2,8}
if set16.intersection(set17)==set():
    print("no elements in common")
else:
    print("there are elements common")
#can use isdisjoint()

there are elements common

**Q19: Find the symmetric difference between two sets.**

In [22]:
set18 = {1, 2, 3, 4, 5}
set19 = {4, 5, 6, 7, 8}
symmetric_diff=set18.symmetric_difference(set19)
print(symmetric_diff)
#can use ^ operator

{1, 2, 3, 6, 7, 8}

**Q20: Update a set with elements from another set.**

In [24]:
set20 = {1, 2, 3}
set21 = {3, 4, 5}
set20.update(set21)
print(set20)
#can use | operator

{1, 2, 3, 4, 5}

**Q21: Create a set of the first 5 prime numbers.**

In [28]:
set22=set()
for n in range(2,50):
    if n>1:
        for i in range(2,n):
            if n%i==0:
                break
        else:
            set22.add(n)
    if len(set22)>=5:
        break
print(set22)

{2, 3, 5, 7, 11}

**Q22: Check if two sets are identical.**

In [29]:
set23={5,3,2,1}
set24={1,2,3,5}
if set23==set24:
    print("sets are identical")
else:
    print("not identical")

sets are identical

**Q23: Create a frozen set.**

In [30]:
set25={6,3,4,5}
fset25=frozenset(set25)
print(fset25)

frozenset({3, 4, 5, 6})

**Q24: Check if a set is disjoint with another set.**

In [31]:
set26={3,4,5}
set27={8,6,1}
if set26.isdisjoint(set27):
    print("yes disjoint")
else:
    print("not disjoint")

yes disjoint

**Q25: Create a set of squares of numbers from 1 to 5.**

In [32]:
set28=set()
for i in range(1,6):
    set28.add(i**2)
print(set28)

{1, 4, 9, 16, 25}

**Q26: Filter out all even numbers from a set.**

In [33]:
set29={1,2,3,4,5,6,7,8,9,10}
filtered_set29=set(filter(lambda x: x%2==0, set29))
print(filtered_set29)

{2, 4, 6, 8, 10}

**Q27: Multiply all elements in a set by 2.**

In [42]:
set30={4,2,1,7}
mset30=set(map(lambda x: x*2, set30))
print(mset30)

{8, 2, 4, 14}

**Q28: Create a set of random numbers.**

In [39]:
import random
s_size=5
min_sv=1
max_sv=100
random_set=set(random.randint(min_sv,max_sv) for _ in range(s_size))
print(random_set)

{70, 82, 25, 60, 94}

**Q29: Check if a set is empty.**

In [40]:
set31=set()
if not set31:
    print("set is empty")
else:
    print("set is not empty")
#can use use len(set31)==0

set is empty

**Q30: Create a nested set (hint: use frozenset).**

In [44]:
set32=set()
set32.add(frozenset((1,2)))
set32.add(frozenset((2,3)))
set32.add(frozenset((4,5)))
print(set32)

{frozenset({4, 5}), frozenset({2, 3}), frozenset({1, 2})}

**Q31: Remove an element from a set using the discard method.**

In [1]:
set33={6,3,2,8}
set33.discard(2)
print(set33)

{8, 3, 6}

**Q32: Compare two sets.**

In [2]:
set34={5,6,7}
set35={7,5,6}
if set34==set35:
    print("sets are equal")
else:
    print("sets are not equal")

sets are equal

**Q33: Create a set from a string.**

In [1]:
stset="hello"
set36=set(stset)
print(set36)

{'l', 'e', 'o', 'h'}

**Q34: Convert a set of strings to a set of integers.**

In [2]:
set37={'4','6','9','0'}
set38=set()
for i in set37:
    set38.add(int(i))
print(set38)

{0, 9, 4, 6}

**Q35: Convert a set of integers to a set of strings.**

In [3]:
set39={7,9,0,5,6}
set40={str(i) for i in set39}
print(set40)

{'9', '5', '6', '7', '0'}

**Q36: Create a set from a tuple.**

In [4]:
settp=(6,9,0,4,5)
set41=set(settp)
print(set41)

{0, 4, 5, 6, 9}

**Q37: Convert a set to a tuple.**

In [5]:
set42={6,3,2,1,8}
settp2=tuple(set42)
print(settp2)

(1, 2, 3, 6, 8)

**Q38: Find the maximum value in a set.**

In [6]:
set43={6,3,2,1,9}
print(max(set43))

9

**Q39: Find the minimum value in a set.**

In [8]:
set43={6,3,2,1,9}
print(min(set43))

1

**Q40: Create a set from user input.**

In [9]:
user_set=set()
print("Enter elements for the set (type 'done' when finished)")
while True:
    user_input=input("Enter element")
    if user_input.lower()=='done':
        break
    user_set.add(user_input)
print(user_set)

Enter elements for the set (type 'done' when finished)

Enter element 4
Enter element 6
Enter element 8
Enter element 9
Enter element 0
Enter element done

{'9', '6', '8', '4', '0'}

**Q41: Check if the intersection of two sets is empty.**

In [13]:
set44={4,6,7,2}
set45={3,9,8,0}
if set44.intersection(set45)==set():
    print("intersection of two sets is empty")
else:
    print(set44.intersection(set45))

intersection of two sets is empty

**Q42: Create a set of the first 5 Fibonacci numbers.**

In [2]:
set46=set()
f=0
s=1
for i in range(6):
    set46.add(f)
    t=f+s
    f=s
    s=t
print(set46)

{0, 1, 2, 3, 5}

**Q43: Remove duplicates from a list using sets.**

In [4]:
setl2=[5,8,5,8,5,5,5,9,0]
set47=set(setl2)
print(set47)

{8, 9, 5, 0}

**Q44: Check if two sets have the same elements, regardless of their count.**

In [5]:
set48={1,2,3,1,2}
set49={3,1,2}
if set48==set49:
    print("yes sets have the same elements")
else:
    print("no sets don't have the same elements")

yes sets have the same elements

**Q45: Create a set of the first `n` powers of 2.**

In [6]:
set50=set()
n=int(input("Enter the number"))
for i in range(n):
    set50.add(2**i)
print(set50)

Enter the number 5

{1, 2, 4, 8, 16}

**Q46: Find the common elements between a set and a list.**

In [7]:
setl3=[4,2,6,2,1]
set51={1,2,9,0,7}
common=set51.intersection(set(setl3))
print(common)

{1, 2}

**Q47: Create a set of the first `n` triangular numbers.**

In [9]:
set52=set()
n=int(input("Enter the number"))
for i in range(1,n+1):
    tri_num=i*(i+1)//2
    set52.add(tri_num)
print(set52)

Enter the number 5

{1, 3, 6, 10, 15}

**Q48: Check if a set contains another set as a subset.**

In [10]:
set53={4,5,6,1,7,8}
set54={5,4,6}
if set53.issuperset(set54):
    print("set contains the subset")
else:
    print("does not contain the subset")

set contains the subset

**Q49: Create a set of alternating 1s and 0s of length `n`.**

In [12]:
set55=set()
n=int(input("Enter the number"))
for i in range(n):
    if i%2==0:
        set55.add(1)
    else:
        set55.add(0)
print(set55)

Enter the number 6

{0, 1}

**Q50: Merge multiple sets into one.**

In [13]:
set56 = {1, 2, 3}
set57 = {4, 5, 6}
set58 = {7, 8, 9}
merged_set=set56.union(set57,set58)
print(merged_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9}