## Classes/Objects
Python is an object oriented programming language.

Almost everything in Python is an object, with its properties and methods.

A Class is like an object constructor, or a "blueprint" for creating objects.

A class is a classification of things, an object(variable) is an instance of class.

In [1]:
a=10
b=20
c=50 #here these are integer classes, (a,b,c) are objects of integer class

In [2]:
s='sudh' #s is the object of string class

## The self Parameter
The self parameter is a reference to the current instance of the class, and is used to access variables that belongs to the class.

It does not have to be named self , you can call it whatever you like, but it has to be the first parameter of any function in the class

In [15]:
class bankaccount:
    
    def openaccount(self, name, email_id):
        print("open an account by taking name and email id")
        return name, email_id
    
    def deposit(self, amount):
        print("I am trying to deposit some amount in my account")
        
    def withdraw(self, amt_with):
        print("withdraw the amount")
        
    def update_details(self, name_update, email_update):
        print("This function will update my name and email id for account")

In [16]:
def openaccount(name, email_id):
    print("open an account by taking name and email id")
    return name, email_id

In [17]:
openaccount('deeps','deeps@gamil.com')

open an account by taking name and email id

('deeps', 'deeps@gamil.com')

In [18]:
deposit(4564)

NameError: name 'deposit' is not defined

In [19]:
deeps=bankaccount()

In [20]:
deeps.openaccount('deepika','deepika@gmail.com')

open an account by taking name and email id

('deepika', 'deepika@gmail.com')

In [21]:
deeps.deposit(4563)

I am trying to deposit some amount in my account

In [22]:
deeps.withdraw(465)

withdraw the amount

In [23]:
deeps.update_details('deeps','deeps@gmail.com')

This function will update my name and email id for account

In [38]:
class list_ops:
    
    def extractfromindex(self, l, index):
        return l[index]
    
    def extractrangedata(self,l,start,end):
        return l[start:end]
    
    def extracteven(self,l):
        l1=[]
        for i in l:
            if i%2==0:
                l1.append(i)
        return l1

In [52]:
first_obj=list_ops()
first_obj.extractfromindex([3,4,2,5,6], 4)

6

In [46]:
first_obj.extractrangedata([3,2,1,445,6,4], 0,4)

[3, 2, 1, 445]

In [47]:
first_obj.extracteven([4,2,5,7,2,78,8,9])

[4, 2, 2, 78, 8]

In [48]:
l=[4,5,2,45,6]
l[3]

45

In [51]:
class list_ops:
    
    a=10
    l=[4,2,4,5,5,6,74,6]
    
    def extractfromindex(self, l, index):
        return l[index]
    
    def extractrangedata(self,l,start,end):
        return l[start:end]
    
    def extracteven(self,l):
        l1=[]
        for i in l:
            if i%2==0:
                l1.append(i)
        return l1

In [50]:
first_obj.a

10

In [56]:
first_obj.l

[4, 2, 4, 5, 5, 6, 74, 6]

In [57]:
first_obj.extractfromindex(first_obj.l, 4) #this is how we access the variable outside the class

5

In [58]:
second_obj=list_ops()
second_obj.l

[4, 2, 4, 5, 5, 6, 74, 6]

In [59]:
third_obj=list_ops()
third_obj.l

[4, 2, 4, 5, 5, 6, 74, 6]

## The `__init__()` Function
`__init__()` is a built-in function. The `__init__()` function is used to assign values to object properties, or other operations that are necessary to do when the object is being created. 

The `__init__()` function is called automatically every time the class is being used to create a new object.

In [63]:
class list_ops:
    
#     a=10
#     l=[4,2,4,5,5,6,74,6]
    
    def __init__(self,l):
        self.l=l
    
    def extractfromindex(self, l, index):
        return l[index]
    
    def extractrangedata(self,l,start,end):
        return l[start:end]
    
    def extracteven(self,l):
        l1=[]
        for i in l:
            if i%2==0:
                l1.append(i)
        return l1

In [64]:
second_obj=list_ops()

TypeError: list_ops.__init__() missing 1 required positional argument: 'l'

In [67]:
second_obj=list_ops([4,2,4,6,7,8])
second_obj.l

[4, 2, 4, 6, 7, 8]

In [66]:
third_obj=list_ops()

TypeError: list_ops.__init__() missing 1 required positional argument: 'l'

In [71]:
class list_ops:
    
#     a=10
#     l=[4,2,4,5,5,6,74,6]
    
    def __init__(self,l):
        self.l1=l
        self.l2=40
        self.l3='deeps'
        self.l4=(3,2,5,6,7,8)
        self.l5={'key':'value'}
    
    def extractfromindex(self, l, index):
        return l[index]
    
    def extractrangedata(self,l,start,end):
        return l[start:end]
    
    def extracteven(self,l):
        l1=[]
        for i in l:
            if i%2==0:
                l1.append(i)
        return l1

In [72]:
second_obj=list_ops([4,2,4,6,7,8])
second_obj.l

AttributeError: 'list_ops' object has no attribute 'l'

In [73]:
second_obj=list_ops([4,2,4,6,7,8])
second_obj.l1

[4, 2, 4, 6, 7, 8]

In [74]:
second_obj.l2

40

In [75]:
class book:
    
    def __init__(self, name, title, pageno):
        self.name_of_book=name
        self.title_of_book=title
        self.page_no=pageno
        
    def extract_detail(self):
        print(self.name_of_book, self.title_of_book)
        
    def print_page_no(self):
        print(self.page_no)

In [76]:
sudhanshu=book('dsa','practical dsa', 675)
ronik=book('data science', 'implementation of data science', 454)
deepika=book('big data','invention with big data', 455)

In [77]:
sudhanshu.extract_detail()

dsa practical dsa

In [78]:
ronik.extract_detail()

data science implementation of data science

In [79]:
deepika.extract_detail()

big data invention with big data

In [80]:
sudhanshu.name_of_book

'dsa'

In [81]:
class book:
    
    def __init__(self):
        self.name_of_book='dsa'
        self.title_of_book='dsa advance'
        self.page_no=453
        
    def extract_detail(self):
        print(self.name_of_book, self.title_of_book)
        
    def print_page_no(self):
        print(self.page_no)

In [82]:
student1=book()

In [83]:
student1.name_of_book

'dsa'

In [84]:
student2=book()

In [85]:
student2.name_of_book

'dsa'

In [86]:
class gmail_ops:
    
    def __init__(self, userid,password):
        self.userid=userid
        self.password=password
        self.url='http://www.example.com'
        
    def login(self):
        print("take userid", self.userid, "take password", self.password, "hit url", self.url)
        print("login")
        
    def read_mail(self):
        print("read mail for", self.userid, " ", self.password)
        
    def reply_mail(self):
         print("reply mail for", self.userid, " ", self.password)

In [88]:
user1=gmail_ops('user1','user1pass')
user1.login()

take userid user1 take password user1pass hit url http://www.example.com
login

In [89]:
user2=gmail_ops('user2','user2pass')
user2.login()

take userid user2 take password user2pass hit url http://www.example.com
login

In [90]:
from functools import reduce
class calculator:
    
    def add(self, *args):
        return sum(args)
    
    def sub(self, *args):
        return reduce(lambda a,b:a-b,args)
    
    def mul(self, *args):
        return reduce(lambda a,b:a*b,args)
    
    def div(self, *args):
        return reduce(lambda a,b:a/b,args)

In [91]:
himanshu=calculator()

In [93]:
himanshu.add(2,6,4)

12

In [94]:
himanshu.mul(2,6,4)

48

In [95]:
himanshu.sub(2,6,4)

-8

In [96]:
himanshu.div(2,6,4)

0.08333333333333333

In [97]:
karan=calculator()

In [98]:
karan.add(4,6,7,2)

19

In [99]:
from functools import reduce
class calculator:
    
    def __init__(self,username):
        self.username=username
    
    def add(self, *args):
        return self.username, sum(args)
    
    def sub(self, *args):
        return self.username, reduce(lambda a,b:a-b,args)
    
    def mul(self, *args):
        return self.username, reduce(lambda a,b:a*b,args)
    
    def div(self, *args):
        return self.username, reduce(lambda a,b:a/b,args)

In [100]:
himanshu=calculator('starhimanshu')

In [101]:
himanshu.add(4,2,5,7)

('starhimanshu', 18)