In [1]:
number=0
if number>0:
    print("positive number")
elif number==0:
    print("zero")
else:
    print("negative number")
print("it always prints")

zero
it always prints

In [2]:
for i in range(5):
    print(i)

0
1
2
3
4

In [4]:
days=0
week=['mon','tue','wed','thurs','fri','sat','sun']
while days<7:
    print("Today is", week[days])
    days+=1

Today is mon
Today is tue
Today is wed
Today is thurs
Today is fri
Today is sat
Today is sun

In [5]:
text='i write code'
text.split()

['i', 'write', 'code']

In [6]:
x=input("Enter three words message:")
word1,word2,word3=x.split()

Enter three words message:welcome to pwskills

In [7]:
word1

'welcome'

In [8]:
word2

'to'

In [9]:
word3

'pwskills'

In [11]:
a,b=input("Enter two numbers:").split()
c=int(a)+int(b)
print(c)

Enter two numbers:2 3
5

In [12]:
s1='A B C D E F'
print(s1.split(' ',3))

['A', 'B', 'C', 'D E F']

In [13]:
s2='hi@hi@hi@hi@hi'
print(s2.split('@'))

['hi', 'hi', 'hi', 'hi', 'hi']

In [14]:
s2='hi@hi@hi@hi@hi'
print(s2.split('@',2))

['hi', 'hi', 'hi@hi@hi']

In [15]:
for letter in 'pwskills':
    if letter =='l':
        break
    print(letter)

p
w
s
k
i

In [16]:
for i in range(5):
    if i==3:
        break
    print(i)

0
1
2

In [17]:
list(range(5))

[0, 1, 2, 3, 4]

In [18]:
i=1
while i<=10:
    print(i)
    if i>=5:
        break
    i=i+1

1
2
3
4
5

In [19]:
numbers=[10,20,30,40,120,230]
for i in numbers:
    if i>100:
        break
    print(i)

10
20
30
40

In [20]:
s='hello, world'
for char in s:
    if char==',':
        break
    print(char)

h
e
l
l
o

In [24]:
s='hello, world'
for char in s:
    print(char)
    if char==',':
        break

h
e
l
l
o
,

In [25]:
for letter in 'pwskills':
    if letter=='i':
        continue
    print(letter)

p
w
s
k
l
l
s

In [26]:
for i in range(5):
    if i==3:
        continue
    print(i)

0
1
2
4

In [27]:
# Write a program to print odd numbers from 1 to 10

In [32]:
for i in range(1,11,2):
    print(i)

1
3
5
7
9

In [34]:
for i in range(1,11):
    if i%2==0:
        continue
    print(i)

1
3
5
7
9

In [37]:
for i in range(1,11):
    if i%2!=0:
        print(i)

1
3
5
7
9

In [39]:
n=10
if n>10:
    pass
print('hello')

hello

In [40]:
#functions

In [42]:
def add_nums(a,b):
    return a+b

In [45]:
def greet():
    print("Hello world")
greet()

Hello world

In [46]:
def add_nums(a,b):
    c=a+b
    return c
add_nums(2,3)

5

In [47]:
def add_2_num():
    a=int(input("Enter first number:"))
    b=int(input("Enter second number:"))
    c=a+b
    print(c)

In [48]:
add_2_num()

Enter first number:4
Enter second number:6
10

In [49]:
def mul(x,y):
    z=x*y
    print(z)
mul(3,4)

12

In [51]:
def intro(name):
    print("hi",name)
intro('deepika')

hi deepika

In [53]:
def intro(name,lname):
    print("hi",name,lname)
intro('deepika','singh')

hi deepika singh

In [54]:
def absolute(n):
    if n>0:
        print(-n)
    else:
        print(-n)

In [55]:
absolute(-9)

9

In [56]:
absolute(9)

-9

In [57]:
def fullname(a,b):
    c=a+b
    return c
fullname('deepika','singh')

'deepikasingh'

In [59]:
def fullname(a,b):
    c=a+b
    print(c)
x=fullname('deepika','singh')

deepikasingh

In [60]:
x #here x does not get printed because print statement does not return so we use return statement

In [61]:
def fullname(a,b):
    c=a+b
    return c
x=fullname('deepika','singh')

In [62]:
x

'deepikasingh'

In [64]:
def calculator(a,b):
    c=a+b
    d=a-b
    e=a*b
    return c,d,e
calculator(3,4)

(7, -1, 12)

In [65]:
def cal(a,b):
    opr=input("Enter operator + - * /")
    if opr=='+':
        return a+b
    elif opr=='-':
        return a-b
    elif opr=='*':
        return a*b
    elif opr=='/':
        return a/b
    else:
        return "Invalid operation"

In [66]:
cal(2,3)

Enter operator + - * /0

'Invalid operation'

In [67]:
cal(2,3)

Enter operator + - * /+

5

In [68]:
#find area of circle

In [70]:
def area(r):
    return 3.14*r*r
area(2)

12.56

In [71]:
#find area of rectangle

In [72]:
def rect(l,b):
    return l*b
rect(4,3)

12

In [73]:
#find area of triangle

In [74]:
def tri(b,h):
    return (1/2)*b*h
tri(4,5)

10.0

In [75]:
#accept an integer as input and print its square as output

In [77]:
def sqr(n):
    return n**2
x=int(input("Enter the number:"))
sqr(x)

Enter the number:4

16

In [78]:
#accept two words and print them with a space in between

In [79]:
def title(f,l):
    return f+" "+l
y=input("Enter first name:")
z=input("Enter last name:")
title(y,z)

Enter first name:Deepika
Enter last name:Singh

'Deepika Singh'

In [80]:
#print even numbers accepting the lower and upper range from user

In [90]:
def even_num(l,u):
    even_n=[]
    for i in range(l,u+1):
        if i%2==0:
            even_n.append(i)
    return even_n
low=int(input("Enter lower limit:"))
up=int(input("Enter upper limit:"))
even_num(low,up)

Enter lower limit:1
Enter upper limit:10

[2, 4, 6, 8, 10]