In [2]:
def greet():
    message='Hello'
    print(message)
greet()

Hello

In [5]:
def greet():
    message='Hello' #local variable
print(message) #message variable is created inside the function, you cannot access it outside the function

NameError: name 'message' is not defined

In [6]:
def add():
    x=20
    y=30
    print(x+y)
print(x)
print(y)

NameError: name 'x' is not defined

In [11]:
x='awesome' #global variable
def myfunc():
    x='fantastic' #local variable
    print("Python is",x)
myfunc()
print(x)

Python is fantastic
awesome

In [14]:
x='awesome' #global variable
def myfunc():
#     x='fantastic' #local variable
    print("Python is",x)
myfunc()
print(x)

Python is awesome
awesome

In [15]:
x=20
def add():
    y=30
    print("local variable=",y)
    print("global variable=",x)
    z=x+y
    print(z)
add()

local variable= 30
global variable= 20
50

In [16]:
#python function arguments

In [17]:
#positional arguments
def add_numbers(a,b):
    sum=a+b
    print("sum is",sum)
add_numbers(3,4)

sum is 7

In [18]:
def emp_name(name):
    print("my name is",name)
emp_name('deepika')

my name is deepika

In [19]:
#default arguments
def add_numbers(a=4,b=8):
    sum=a+b
    print("sum is",sum)
add_numbers()

sum is 12

In [20]:
def emp_name(name='deepika'):
    print("my name is",name)
emp_name()

my name is deepika

In [21]:
emp_name('pwskills')

my name is pwskills

In [22]:
#keyword arguments

In [23]:
def display_info(first_name,last_name):
    print("first name",first_name)
    print("second name",last_name)
display_info(first_name='pw',last_name='skills')

first name pw
second name skills

In [24]:
display_info(last_name='skills',first_name='pw')

first name pw
second name skills

## Arbitrary Arguments, *args
If you do not know how many arguments that will be passed into your function, add a * before the parameter name in the function definition.

This way the function will receive a tuple of arguments, and can access the items accordingly

In [26]:
def my_function(*kids):
    print("the youngest child is",kids[2])
my_function('emma','justin','riya')

the youngest child is riya

In [28]:
def find_sum(*numbers):
    result=0
    for i in numbers:
        result=result+i
    print("sum",result)
find_sum(1,2,43,4,5,67,7)

sum 129

In [29]:
def simple(*x):
    print(x)
simple(1,2,3,4)

(1, 2, 3, 4)

## Arbitrary Keyword Arguments, **kwargs
If you do not know how many keyword arguments that will be passed into your function, add two asterisk: ** before the parameter name in the function definition.

This way the function will receive a dictionary of arguments, and can access the items accordingly

In [31]:
def my_kid(**kids):
    print("her last name is",kids['lname'])
my_kid(fname='deepika',lname='singh')

her last name is singh

In [33]:
x={'a':1,'b':2}
for keys,values in x.items():
    print(keys,values)

a 1
b 2

In [34]:
def intro(**data):
    print("data type of argument",type(data))
    for key,value in data.items():
        print(key,value)
intro(fname='deepika',lname='singh')

data type of argument <class 'dict'>
fname deepika
lname singh

In [35]:
def simple(**x):
    print(x)
simple(name='deepika',age=21,id_no=12)

{'name': 'deepika', 'age': 21, 'id_no': 12}

## Python Lambda
A lambda function is a small anonymous function.

A lambda function can take any number of arguments, but can only have one expression.

In [36]:
x=lambda a:a+10
x(5)

15

In [37]:
y=lambda a,b:a*b
y(5,6)

30

In [38]:
z=lambda:print("hello")
z()

hello

In [40]:
a=int(input("Enter first number:"))
b=int(input("Enter second number:"))
sqr=lambda a,b:(a**2,b**2)
print(sqr(a,b))

Enter first number:2
Enter second number:3
(4, 9)

In [41]:
def evenodd(n):
    if n%2==0:
        print("even")
    else:
        print("odd")
evenodd(23)

odd

In [42]:
e=lambda n:'even' if n%2==0 else 'odd'
e(2)

'even'

In [43]:
#write a lambda function that accepts two arguments and print the greater number

In [44]:
g=lambda d,f:max(d,f)
g(7,4)

7

In [46]:
g1=lambda d1,f1:d1 if d1>f1 else f1
g1(5,6)

6

In [47]:
#lambda function to find sum of three numbers

In [48]:
big=lambda a,b,c:(a+b+c)
big(7,6,3)

16

In [52]:
products=[
    {'name':'product1','price':120},
    {'name':'product2','price':100},
    {'name':'product3','price':170},
    {'name':'product4','price':150}
]
sorted_products=sorted(products,key=lambda x:x['price'])
for i in sorted_products:
    print(i)

{'name': 'product2', 'price': 100}
{'name': 'product1', 'price': 120}
{'name': 'product4', 'price': 150}
{'name': 'product3', 'price': 170}

In [53]:
products=[
    {'name':'product1','price':120},
    {'name':'product2','price':100},
    {'name':'product3','price':170},
    {'name':'product4','price':150}
]
sorted_products=sorted(products,key=lambda x:x['price'], reverse=True)
for i in sorted_products:
    print(i)

{'name': 'product3', 'price': 170}
{'name': 'product4', 'price': 150}
{'name': 'product1', 'price': 120}
{'name': 'product2', 'price': 100}

In [54]:
#write a lambda expression that accepts a character as an argument and return true if it is a vowel

In [60]:
c=input("Enter a char:")
x=lambda c:'true' if c in 'AEIOUaeiou' else 'false'
x(c)

Enter a char:r

'false'

In [61]:
language=['python','java','javascript']
enumerate_prime=enumerate(language)
list(enumerate_prime)

[(0, 'python'), (1, 'java'), (2, 'javascript')]

In [62]:
language=['python','java','javascript']
enumerate_prime=enumerate(language,2)
list(enumerate_prime)

[(2, 'python'), (3, 'java'), (4, 'javascript')]

## List Comprehension
List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.

In [64]:
fruits=['apple','mango','banana']
newlist=[x for x in fruits if 'b' in x]
print(newlist)

['banana']

In [66]:
x=[1,2,3,4,5,6,7,8,9,10]
x1=[i for i in x if i%2==0]
print(x1)

[2, 4, 6, 8, 10]

In [68]:
x2=[i+1 for i in x]
print(x2)

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [69]:
a=[]
for i in x:
    if i>4:
        a.append(i)
print(a)

[5, 6, 7, 8, 9, 10]

In [70]:
x3=[i for i in x if i%2!=0]
print(x3)

[1, 3, 5, 7, 9]

In [71]:
x4=[i for i in x if i>4 if i%2==0]
print(x4)

[6, 8, 10]

In [73]:
x5=[i if i>4 else 'less than 4' for i in x]
print(x5)

['less than 4', 'less than 4', 'less than 4', 'less than 4', 5, 6, 7, 8, 9, 10]

In [74]:
x6=['two' if i%2==0 else 'three' if i%3==0 else 'not 2 0r 3' for i in x]
print(x6)

['not 2 0r 3', 'two', 'three', 'two', 'not 2 0r 3', 'two', 'not 2 0r 3', 'two', 'three', 'two']