In [3]:
a=500
price=450
if price<=500:
    print("I will be able to buy")

I will be able to buy

In [4]:
price<=500

True

In [5]:
a=500
price=850
if price<=500:
    print("I will be able to buy")
else:
    print("I wont be able to buy")

I wont be able to buy

In [8]:
a=500
shirt_price=200
pant_price=500
coat_price=800
if True:
    print("This is a testing block")
if coat_price<=a:
    print("I can buy coat")
elif pant_price<500:
    print("I will buy pant")
elif shirt_price<500:
    print("I will buy shirt")
else:
    print("I wont be able to buy")

This is a testing block
I will buy shirt

In [9]:
a=500
shirt_price=200
pant_price=500
coat_price=800
My_size='S'
size_store='L'
if coat_price<=a:
    print("I can buy coat")
elif pant_price<500:
    print("I will buy pant")
elif shirt_price<500:
    print("Yes it is available under my budget")
    if My_size==size_store:        
        print("I will buy shirt")
else:
    print("I wont be able to buy")

Yes it is available under my budget

In [14]:
a=500
shirt_price=200
pant_price=500
coat_price=800
My_size='S'
size_store=['L','M','XL','XXL','S']
my_fav_clr='white'
store_clr=['white','red','blue','orange']
if coat_price<=a:
    print("I can buy coat")
elif pant_price<500:
    print("I will buy pant")
elif shirt_price<500:
    print("Yes it is available under my budget")
    if My_size in size_store:        
        print("I will buy shirt")
        if my_fav_clr in store_clr:
            print("i will wear white")
        else:
            print("My fav colour is not available")
    else:
        print("MY size is not available")
else:
    print("I wont be able to buy")

Yes it is available under my budget
I will buy shirt
i will wear white

In [11]:
'S' in size_store

False

In [15]:
course=['DSM','DSA','Java','big data','da']
price=20000
mentor='sudhanshu kumar'
if 'DSM' in course and price==20000 and mentor=='sudhanshu kumar':
    print("YES i am doing this course")

YES i am doing this course

In [16]:
course_price=20000
if 10000<=course_price<=15000:
    print("I will buy this course")
else:
    print("It is out of my budget")

It is out of my budget

In [18]:
user_name='deeps'
password='deep@123'
if user_name==input("Enter user name") and password==input("Enter password"):
    print("You have logged in successfully")
else:
    print("Incorrect username and password")

Enter user namedeeps
Enter passworddeep@123
You have logged in successfully

In [23]:
mobile_no=123456
otp=457
if mobile_no==int(input("Enter registered mobile number:")):
    print("yes you are a registered user")
    if otp==int(input("Enter otp")):
        print("you have logged in successfully")
    else:
        print("Incorrect otp")
else:
    print("you have not entered a valid mobile number")

Enter registered mobile number:123456
yes you are a registered user
Enter otp457
you have logged in successfully

In [24]:
mobile_no={9394324,9234222,9342252,9356322}
otp=457
if int(input("Enter registered mobile number:")) in mobile_no:
    print("yes you are a registered user")
    if otp==int(input("Enter otp")):
        print("you have logged in successfully")
    else:
        print("Incorrect otp")
else:
    print("you have not entered a valid mobile number")

Enter registered mobile number:9342252
yes you are a registered user
Enter otp457
you have logged in successfully

In [26]:
l=[1,3,4,2,2,34,4,3,2]
for i in l:
    print(i)

1
3
4
2
2
34
4
3
2

In [33]:
mobile_no=[9394324,9234222,9342252,9356322]
student_no=9342252
student_details={'mobile_no':9342252, 'course':['dsa','dsm','java','da']}
for i in mobile_no:
    print(i)
    if i==student_no:
        print('user is registered')
        if i==student_details['mobile_no']:
            print("student details are available in DB")
            print("course accsessed to the user is",student_details['course'])

9394324
9234222
9342252
user is registered
student details are available in DB
course accsessed to the user is ['dsa', 'dsm', 'java', 'da']
9356322

In [37]:
t=(2,3,4,2,1,7,8,'deepika','singh')
l_int=[]
l_str=[]
for i in t:
    if type(i)==str:
        l_str.append(i)
    else:
        l_int.append(i)
print(l_int)
print(l_str)

[2, 3, 4, 2, 1, 7, 8]
['deepika', 'singh']

In [38]:
s={3,5,32,4,3,1,5,6,7}
for i in s:
    print(i)

32
1
3
4
5
6
7

In [39]:
d={'name':'sudh','class':['big data','data sciene','dsa','data analytics'], 'mobile_no':93434564,'email_id':'sskuma234@gmail.com'}

In [40]:
d

{'name': 'sudh',
 'class': ['big data', 'data sciene', 'dsa', 'data analytics'],
 'mobile_no': 93434564,
 'email_id': 'sskuma234@gmail.com'}

In [41]:
d.values()

dict_values(['sudh', ['big data', 'data sciene', 'dsa', 'data analytics'], 93434564, 'sskuma234@gmail.com'])

In [43]:
d.keys()

dict_keys(['name', 'class', 'mobile_no', 'email_id'])

In [44]:
d.items()

dict_items([('name', 'sudh'), ('class', ['big data', 'data sciene', 'dsa', 'data analytics']), ('mobile_no', 93434564), ('email_id', 'sskuma234@gmail.com')])

In [45]:
for i in d.values():
    print(i)

sudh
['big data', 'data sciene', 'dsa', 'data analytics']
93434564
sskuma234@gmail.com

In [47]:
for i in d.values():
    if type(i)==list:
        if 'dsa'in i:
            print("yes  this mentor teaches dsa")

yes  this mentor teaches dsa